<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>Server.HelloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloAdmin</servlet-name>
        <servlet-class>Filters.HelloAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TrimFilteredServlet</servlet-name>
        <servlet-class>FilterInput.TrimFilteredServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/HelloServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>filter1</filter-name>
        <filter-class>Server.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter1</filter-name>
        <url-pattern>/HelloServlet</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>HelloAdmin</servlet-name>
        <url-pattern>/HelloAdmin</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>filterLogin</filter-name>
        <filter-class>Filters.MyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterLogin</filter-name>
        <url-pattern>/HelloAdmin</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>TrimFilteredServlet</servlet-name>
        <url-pattern>/TrimFilteredServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>filterInput</filter-name>
        <filter-class>FilterInput.TrimFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterInput</filter-name>
        <url-pattern>/TrimFilteredServlet</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
